<title>{{ block "title" . }}Index{{end}} | {{ app_title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/roboto-condensed.css" />
<link rel="stylesheet" href="/static/css/fontello.css" />
<link rel="icon" type="image/x-icon" href="/static/img/favicon.png" />
<script src="/static/js/build.js"></script>
{{ block "headext" . }}{{ end }}
