{{ define "title" }}Authorization{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="/admin/webhooklog">
      <i class="fa fa-chevron-left"></i>Webhook-Logs
    </a>
  </li>
  <li>
    <a href="/admin/auth">
      <i class="fa fa-lock"></i>Auth
    </a>
  </li>
  <li>
    <a href="/admin/info">
      <i class="fa fa-clock"></i>Info
    </a>
  </li>
{{ end }}

{{ define "content" }}
<h2>Auth</h2>
  {{ range $i, $p := .provider }} 
  <h3>{{$p.HumanName}}</h3>
  <small>{{$p.Description}}</small>
    {{ if $p.Cap.Instantiable }}
      <a class="button" href="/admin/auth/instance/new/{{.Name}}">Create Instance</a>
    {{ end }}
  {{ end }}
    TODO
{{ end }}
