{{ define "title"}}Public Builds for Repo {{.repo.Name}}{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="/public">
      <i class="fa fa-chevron-left"></i>Repositories
    </a>
  </li>
{{ end }}

{{ define "headext" }}
  {{ if .existUnfinishedBuilds }}
    <meta http-equiv="refresh" content="5" />
  {{ end }}
{{ end }}

{{ define "content" }}
  <h2>Repo: {{ .repo.Name }}</h2>
    <dl>
      <dt>Clone URL</dt>
      <dd>{{ .repo.CloneUrl }}</dd>
    </dl>
    <h3>Builds</h3>
    {{ range .builds }}
    {{ if eq .Zip "" }}{{ else }}
      <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ if eq .CommitMessage "" }}{{ $.repo.Name}}{{ else }}{{ .CommitMessage }}{{ end }}
              </span>
              <span class="block-bottom-item block-fa">
                {{ .CommitSha }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
              </span>
              <span class="block-bottom-item block-fa">
                <i class="fa fa-calendar-check-o"></i>{{ render_time .FinishedAt }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
              <a href="/public/zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
            </span>
          </span>
        </span>
      </div>
    {{ end }}
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No builds for this repository.</div>
    </div>
    {{ end }}

    {{ if gt .pageMax 1 }}
    <div class="paging">
      {{ range .pageRange }}
        {{ if eq . -1 }}
            <i> ... </i>
        {{ else }}
          {{ if eq . $.page }}
            <a class="page-btn page-this" href="/public/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ else }}
            <a class="page-btn" href="/public/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    {{ end }}

{{ end }}

