{{ define "toolbar" }}
    <li>
      <a href="/repo/view/{{ .repo.ID }}">
        <i class="fa fa-chevron-left"></i>{{ .repo.Name }}
      </a>
    </li>
    {{ if eq .build.Status "finished" "failed" }}
    <li>
        <a href="/build/log/{{ .build.ID }}" target="_blank"><i class="fa fa-th-list"></i>View Log</a>
    </li>
    {{ end }}
    {{ if eq .build.Status "finished" }}
        {{ if eq .build.Zip "" }}
    <li>
        <a href="#" class="deactivated"><i class="fa fa-times"></i>No Artifacts</a>
    </li>
        {{ else }}
    <li>
        <a href="/zip/{{ .build.Zip }}" target="_blank"><i class="fa fa-download"></i>Download Artifacts</a>
    </li>
        {{ end }}
    {{ end }}
    {{ if eq .build.Status "finished" "failed" }}
    <li>
        <a href="/build/rebuild/{{ .build.ID }}"><i class="fa fa-refresh"></i>Rebuild</a>
    </li>
    {{ end }}
    <li>
        <a href="/build/delete/{{ .build.ID }}"><i class="fa fa-trash"></i>Delete Build</a>
    </li>
{{ end }}

{{ define "content" }}
{{ if and (eq (config "Build.RefreshPage") "true" ) (eq .unfinished true) }}
<script>
{{ if eq (config "Api.Enable") "true" }}
document.addEventListener("DOMContentLoaded", function(event) {
    build_refresh ( {{ .build.ID }}, {{ config "Build.RefreshInterval" }});
});
{{ else }}
    setTimeout ( function () { location.reload() }, 5000 );
{{ end }}
</script>
{{ end }}
<h2>Build</h2>
  <dl class="attr_larger">
    <dt>Built on</dt>
    <dd>{{ .build.Event }}</dd>
    <dt>Commit-Author</dt>
    <dd>{{ .build.CommitAuthor }}</dd>
    <dt>Commit-Message</dt>
    <dd>{{ .build.CommitMessage }}</dd>
    {{ if eq .build.CommitUrl "" }}{{ else }}
    <dt>View Changes</dt>
    <dd><a href="{{ .build.CommitUrl }}" target="_blank" title="View Changes">View Changes</a></dd>
    {{ end }}
  </dl>

  <span class="block">
    <span class="left-side">
    <span class="block-item block-icon">
        {{ build_status .build.Status }}
    </span>
    <span class="block-item">
      <span class="block-top-item">
          <b>{{ .repo.Name }}</b> &gt;&gt; {{ .build.Branch }}
      </span>
      <span class="block-bottom-item block-fa">
        {{ .build.CommitSha }}
      </span>
    </span>
      <span class="block-item">
        <span class="block-top-item block-fa">
        </span>
      </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ render_time .build.StartedAt }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-calendar-check-o"></i>{{ if or (eq .build.Status "failed") (eq .build.Status "finished") }}{{ render_time .build.FinishedAt }}{{ end }}
        </span>
      </span>
      <span class="block-item block-fa">
        <i class="fa fa-clock-o"></i>{{ .duration }}
      </span>
    </span>
  </span>

  {{ if eq .build.Status "queued" }}{{ else }}
    <h3>Build Log</h3>
    {{ if eq .build.Log "" }}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>Build log missing.</div>
      </div>
    {{ else }}
      <pre class="build-log"><code>{{ .build.Log }}</code></pre>
    {{ end }}
  {{ end }}
{{ end }}
