{{ define "title" }}Repositories{{ end }}

{{ define "toolbar" }}
{{ if eq (config "Api.Enable") "true" }}
    <li>
      <a href="javascript:repo_search_toggle()" class="repo_search_btn">
        <i class="fa fa-search"></i>Search
      </a>
      <div class="repo_search_field hidden">
        <input type="text" name="search_bar" id="repo_search_bar" value="" placeholder="Search" />
      </div>
    </li>
{{ end }}
    <li>
      <a href="/repo/add">
        <i class="fa fa-plus"></i>Add Repository
      </a>
    </li>
{{ end }}


{{ define "content" }}
<h2>{{ if .u }}Repositories of '{{ .u.Name }}'{{ else }}Repositories{{ end }}</h2>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
    repo_search_arm ( "#repo_search_bar", "#search_results" );
});
</script>

    <div id="search_results">
  {{ range .repositories }}
      <a class="block-link" href="/repo/view/{{ .R.ID }}">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                <i class="fa fa-folder repo-state-{{ .State }}"></i>
            </span>
    {{ with .R }}
            <span class="block-item">
              <span class="block-top-item{{ if .Public }} strong{{end}}">
                {{ .Name }} {{ if .Public }}(PUBLIC){{end}}
              </span>
              <span class="block-bottom-item">
                {{.CloneUrl }}
              </span>
            </span>
          </span>
            <!-- range .Builds 
            <span class="right-side">
              <span class="block-item repository-last-build-info">
                <span class="block-top-item">
                  &#35; build.num 
                </span>
                <span class="block-bottom-item block-fa">
                   build_ref(build) 
                </span>
              </span>
              <span class="block-item block-icon">
                 build_icon(build) 
              </span>
            </span>
          -->
        </span>
      </a>
    {{ end }}
  {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No repositories</div>
    </div>
  {{ end }}
  </div>
{{ end }}
