{{ define "title"}}Repo: {{.repo.Name}}{{ end }}

{{ define "toolbar" }}
  <li>
    <a href="/repo">
      <i class="fa fa-chevron-left"></i>Repositories
    </a>
  </li>
      <li>
        <a href="/repo/build/{{ .repo.ID }}"><i class="fa fa-wrench"></i>Build now</a>
      </li>
      <li>
          <a href="javascript:build_adv ();"><i class="fa fa-tools"></i>Build advanced</a>
      </li>
      <li>
        <a href="/repo/edit/{{ .repo.ID }}"><i class="fa fa-pencil"></i>Edit</a>
      </li>
      <li>
        <a href="/repo/delete/{{ .repo.ID }}"><i class="fa fa-trash"></i>Delete</a>
      </li>
{{ end }}

{{ define "content" }}
{{ if and (eq (config "Build.RefreshPage") "true") (gt .unfinishedBuild 0) }}
<script>
{{ if eq (config "Api.Enable") "true" }}
document.addEventListener("DOMContentLoaded", function(event) {
    build_refresh ( {{ .unfinishedBuild }}, {{ config "Build.RefreshInterval" }});
});
{{ else }}
    setTimeout ( function () { location.reload() }, 5000 );
{{ end }}
</script>
{{ end }}
<div class="modal" id="build_adv" onclick="build_adv_close()">
    <div class="modal_window">
        <span class="modal_x" onclick="build_adv_close()">x</a></span>
        <h2 class="modal_title">Build {{.repo.Name}}</h2>
        <div class="field required">
            <label for="build_branch">Branch</label>
            <input type="text" name="build_branch" id="build_branch" placeholder="master" value="{{ .repo.DefaultBranch }}">
        </div>
        <div class="field required">
            <label for="build_hash">Commit-Hash (or empty)</label>
            <input type="text" name="build_hash" id="build_hash" placeholder="^HEAD">
        </div>
        <input type="hidden" name="build_id" id="build_id" value="{{.repo.ID}}">
        <a class="btn btn-primary" href="javascript:build_doAdv();">Build</a> <a class="btn btn-primary" href="javascript:build_adv_close();">Cancel</a>
    </div>
</div>
  <h2>Repo: {{ .repo.Name }}</h2>
    <dl>
  {{ if .user.Superuser }}
      <dt>Secret</dt>
      <dd>{{ if eq (config "RepoSecretShow") "true" }}{{ .repo.Secret }}{{ else }}xxxx-xxxx-xxxx-xxxx{{ end }}<button class="copybtn fa fa-clipboard" data-copyId="secret_copy"></button></dd>
  {{ end }}
      <dt>Clone URL</dt>
      <dd>{{ .repo.CloneUrl }}</dd>
      <dt>Owner</dt>
      <dd><a href="/user/edit/{{ .u.ID }}">{{ .u.Name }}</a></dd>
      <dt>Webhook</dt>
      <dd>{{ if .repo.WebHookEnable }}<i class="fa fa-check-1"></i> <i>enabled</i>{{ else }}<i class="fa fa-check-empty"></i> <i>disabled</i>{{ end }}</dd>
      <dt>Localhook</dt>
      <dd>{{ if .repo.LocalBuildEnable }}<i class="fa fa-check-1"></i> <i>enabled</i>{{ else }}<i class="fa fa-check-empty"></i> <i>disabled</i>{{ end }}</dd>
      <dt>Keep Builds</dt>
      <dd>{{ if .repo.KeepBuilds }}<i class="fa fa-check-1"></i> <i>enabled</i>{{ else }}<i class="fa fa-check-empty"></i> <i>disabled</i>{{ end }}</dd>
      <dt>Public</dt>
      <dd>{{ if .repo.Public }}<i class="fa fa-check-1"></i> <i class="strong">public</i>{{ else }}<i class="fa fa-check-empty"></i> <i>not public</i>{{ end }}</dd>
    </dl>
<input type="hidden" id="secret_copy" value="{{ .repo.Secret }}">

{{ if eq (config "Api.Enable") "true" }}
    <ul class="toolbar">
    <li>
      <a href="javascript:build_search_toggle()" class="build_search_btn">
        <i class="fa fa-search"></i>Search
      </a>
      <div class="build_search_field hidden">
        <input type="text" name="search_bar" id="build_search_bar" value="" placeholder="Search" />
        <input type="hidden" id="build_search_repo_id" value="{{ .repo.ID }}">
      </div>
    </li>
    </ul>
{{ end }}

    <h3>Builds</h3>

{{ if eq (config "Api.Enable") "true" }}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    build_search_arm ( "#build_search_bar", "#search_results" );
});
</script>
{{ end }}

  <div id="search_results">
    {{ range .builds }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item">
                  {{ if eq .CommitMessage "" }}{{ $.repo.Name}}{{ else }}{{ .CommitMessage }}{{ end }}
              </span>
              <span class="block-bottom-item block-fa">
                {{ .CommitSha }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
              </span>
              <span class="block-bottom-item block-fa">
                  <i class="fa fa-calendar-check-o"></i>{{ if or (eq .Status "failed") (eq .Status "finished") }}{{ render_time .FinishedAt }}{{ end }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
              {{ if eq .Zip "" }}{{ else }}
                <a href="/zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
              {{ end }}
                <a href="/build/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
            </span>
          </span>
        </span>
      </div>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No builds for this repository.</div>
    </div>
    {{ end }}

    {{ if gt .pageMax 1 }}
    <div class="paging">
      {{ range .pageRange }}
        {{ if eq . -1 }}
            <i> ... </i>
        {{ else }}
          {{ if eq . $.page }}
            <a class="page-btn page-this" href="/repo/view/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ else }}
            <a class="page-btn" href="/repo/view/{{ $.repo.ID }}/{{.}}">{{ . }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>

{{ end }}

