{{ define "title" }}{{end}}

{{ define "toolbar" }}
  {{ if .user.Superuser }}
    <li>
      <a href="/user">
        <i class="fa fa-chevron-left"></i>Users
      </a>
    </li>
  {{ end }}
{{ end }}

{{ define "content" }}
  <h2>{{if eq .m "edit"}}User Settings{{else}}Add User{{end}}</h2>
  {{render_error_list .errors}}
  <form method="post" action="{{ if eq .m "add" }}/user/post/add{{else}}/user/post/edit/{{.u.ID}}{{end}}">
    <div class="field {{ if eq .m "add"}}required{{ end }}">
      <label for="user_name">Username</label>
      <input type="text"
              id="user_name"
              name="user_name"
              value="{{ if eq .u.Name "" }}{{else}}{{ .u.Name}}{{end}}" {{ if eq .m "edit"}}disabled="disabled"{{end}}
              placeholder="Username" />
    </div>
    <div class="field {{ if eq .m "add"}}required{{ end }}">
      <label for="user_email">E-Mail</label>
      <input type="text"
              id="user_email"
              name="user_email"
              value="{{ if eq .u.Email "" }}{{else}}{{.u.Email}}{{end}}"
              placeholder="E-Mail" />
    </div>
    {{ if eq .m "add" }}
    <div class="field required">
      <label for="user_password">Password</label>
      <input type="password"
              id="user_password2"
              name="user_password2"
              value=""
              placeholder="Password" />
    </div>
    <div class="field required">
      <label for="user_password2">Repeat</label>
      <input type="password"
              id="user_password"
              name="user_password"
              value=""
              placeholder="Repeat" />
    </div>
    {{ end }}
    <div class="field">
      <label>Privileges</label>
      <label class="checkbox">
        <input type="checkbox" name="user_superuser" {{ if .u.Superuser }}checked{{ end }} />
        Superuser
      </label>
    </div>

    <button class="btn-primary">
      {{ if eq .m "edit"}}Save{{else}}Add User{{end}}
    </button>
    {{ if or (eq .m "add") (eq .u.ID .user.ID )}}{{else}}
    <a class="btn btn-danger"
        href="/user/delete/{{ .u.ID }}">
      Delete User
    </a>
    {{ end }}
  </form>

  {{ if eq .m "edit" }}
    <h2>Authentication Setting</h2>
    Main (first step): {{ .MainProvider }}
      {{ range $k, $a := .Auth }}
      <div class="auth_header">
          <h3>{{ $a.HumanName }}</h3>
          {{ if $a.IsMain }}[Main]{{ end }}
          {{ if $a.IsEnabled }}[enabled]{{end}}
          {{ if not $a.IsMain }} 
            {{ if $a.IsEnabled }}
                <a href="/user/me/auth/disable/{{ $a.Name }}" class="button">Disable</a>
            {{ else }}
                <a href="/user/me/auth/enable/{{ $a.Name }}" class="button">Enable</a>
            {{ end }}
          {{ end }}
      </div>
      <small>{{ $a.Description }}</small>
      {{ end }}
  {{ end }}

  {{ if eq .m "edit" }}
    <h2>Login Credentials</h2>

    <form method="post" action="/user/{{ .u.ID }}/token/add">
        <div class="field required oneline">
            <input type="text" placeholder="API-Token Name" name="user_token_name">
            <input type="submit" value="Create Token">
        </div>
    </form>

    {{ range .LoginToken }}
      <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                <i class="fa fa-{{ if eq .Type "login" }}user{{else}}share-alt{{end}} black" title="{{ if eq .Type "login" }}Login{{else}}API{{end}}"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item">
                {{ .Name }}
              </span>
              <span class="block-bottom-item block-fa">
                  {{ if ne .Type  "login" }}{{.Secret}}{{ end }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                  <i class="fa fa-calendar-o"></i>{{ render_time .CreatedAt }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
            {{ if eq .Type "login" }}{{else}}
                <a href="/user/{{ $.u.ID }}/token/invalidate/{{ .ID }}" title="Invalidate" class="fa fa-trash"></a>
            {{ end }}
            </span>
          </span>
        </span>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
